body {
    background-image: linear-gradient(to right, #b6fbff, #83a4d4);
    color: #36454f;
}

.bold-text {
    font-weight: bold;
}

.navbar {
    font-size: 1.5rem;
    font-weight: 500;
    color: #b8b4be;
    background-color: #002244;
}

.navbar .nav-link:hover {
    color: #e0ffff;
}

.navbar .navbar-brand {
    color: #e0ffff;
    font-size: 1.5rem;
}

.navbar .btn-wiki {
    color: #e0ffff;
    border-color: #e0ffff;
}

.navbar .btn-wiki:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.navbar .btn-wiki:hover {
    background-color: #e0ffff;
    color: #002244;
}

.first-portrait,
.second-portrait {
    width: 480px;
    height: auto;
}

.header {
    color: #36454f;
}

.header h1 {
    font-weight: 500;
    font-size: 3rem;
    color: #002244;
}

.header a {
    color: #e0ffff;
}

.header .blockquote {
    text-align: right;
    color: #e0ffff;
}

.header .blockquote-footer {
    color: #36454f;
}

h2 {
    color: #002244;
}

.book-list img {
    width: auto;
    height: 600px;
    padding: 20px 20px;
}

footer {
    color: #e0ffff;
    font-size: 1.5rem;
}